body {
  background: #F7F7F8;
}

.all-content {
  display: flex;
  align-items: center;
  column-count: 3;
}

.intro {
  flex: 1;
  padding: 30px;
}

.intro h1 {
  font-size: 20px;
  color: #60606C;
}

.intro p, .intro a {
  color: #737382;
}

.intro p {
  font-size: 14px;
}

.react-p5 {
  flex: 2;
}